body{
    font-family:'Segoe UI',sans-serif;
    background:#fff0f5;
    padding:40px;
}

.profile-detail-container{
    background:white;
    padding:25px;
    border-radius:20px;
    max-width:600px;
    margin:auto;
}

.info-row{
    margin-bottom:20px;
}

.label{
    display:block;
    color:#ff85a1;
    margin-bottom:6px;
}

.value-input{
    width:100%;
    padding:12px;
    border:1px solid #ffd6e7;
    border-radius:12px;
}

.edit-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#ff85a1;
    color:white;
}

.back-button{
    display:inline-block;
    margin-bottom:15px;
    color:#ff85a1;
}